{% extends "main_site/layout.html" %}
{% load static %}

{% block title %}
    Honest Clips Blog
{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body>

    <div class="container">

        <h1 class="font-weight-light text-center mt-4 mb-0">The Honest Clips Blog</h1>
        <hr class="mt-2 mb-5">

        <!-- Blog Content -->
    
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                
                <div class="post-preview">
                <a href="{% url 'main_site:blog_post' post_title='Why I Decided to Backpack the World During a Pandemic' %}">
                    <h2 class="post-title font-weight-bold">
                        Why I Decided to Backpack the World During a Pandemic
                    </h2>
                    <h3 class="post-subtitle font-weight-light">
                    International travel during the COVID-19 pandemic is not a very common thing. These are the main reasons I decided to take the plunge.
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Stefano Roque</a>
                    on September 20, 2020</p>
                </div>
                <hr>
            
        
            <!-- <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>  -->

            </div> 
        </div>
    </div>

  <hr>

  <!-- Footer -->
  <div class="container-fluid padding">
      <div class="row text-center padding">

          <div class="col-12">
              <h2>Check Out the Channel!!</h2>
          </div>

          <div class="col-12 social padding">
              <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/honestclips"><i class="fab fa-youtube"></i></a>
          </div>
      </div>
  </div>

</body>

</html>
{% endblock %}
