{% extends "main_site/layout.html" %}
{% load static %}

{% block title %}
    Honest Clips
{% endblock %}

{% block body %}
    <!-- Image Slider -->
    <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'main_site/imgs/fado.png' %}">
                <div class="carousel-caption">
                    <h1 class="display-2">Welcome to Honest Clips</h1>
                    <!-- <h3>A raw, honest view on what travel is like these days</h3> -->
                </div>

            </div>
            <div class="carousel-item">
                <img src="{% static 'main_site/imgs/amsterdam.png' %}">
            </div>
            <div class="carousel-item">
                <img src="{% static 'main_site/imgs/lagos.png' %}">
            </div>
        </div>

    </div>

    <!-- Jumbotron -->
    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead">
                    Honest Clips aims to present what travel is like during the age of COVID-19 in the most candid and sincere way possible. We document the logistical aspects of the journey, while also showing a fun and informative look into life on the road, highlighting the people and experiences that make travel so special!
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <!-- <a href="#"><button type="button" class="btn btn-outline-secondary btn-lg">Some Other Link</button></a> -->
                <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/honestclips"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <!-- Latest Youtube Video -->
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Our Latest Video</h1>
                <hr>
            </div>
        </div>
    </div>

    <div class="embed-responsive embed-responsive-16by9 container">
        <iframe src='https://www.youtube.com/embed/?listType=playlist&list=UUyrKAIFQiCGlsrsepFhJyig' frameborder='0' allowfullscreen></iframe>
    </div>    

    <!-- Meet the Team Header-->
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Meet the Team!</h1>
                <hr>
            </div>
        </div>
    </div>

    <!-- Profile Cards -->
    <div class="container-fluid padding">
        <div class="row padding">

            <div class="col-md-4 mx-auto">
                <div class="card">
                    <img class="card-img-top" src="{% static 'main_site/imgs/AdamProfile.jpg' %}">
                    <div class="card-body">
                        <h4 class="card-title">Adam Parker</h4>
                        <p class="card-text">Adam is a recent business graduate from McMaster University in Canada. In his free time he enjoys making YouTube videos and playing basketball.</p>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/adamparker.1/?hl=en"><i class="fab fa-instagram"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/adamparker21/"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mx-auto">
                <div class="card">
                    <img class="card-img-top" src="{% static 'main_site/imgs/StefanoProfile.jpeg' %}">
                    <div class="card-body">
                        <h4 class="card-title">Stefano Roque</h4>
                        <p class="card-text">Stefano is a recent computer science graduate from Queen's University in Canada. In his free time he enjoys practicing Muay Thai, working on his Italian, and writing.</p>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/stefanoroque/?hl=en"><i class="fab fa-instagram"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/stefano-roque/"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr class="my-4">

    <!-- Welcome Section -->
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Two Friends Traveling Around the World</h1>
            </div>
            <hr>
            <div class="col-12">
                <p class="lead">Initially, Adam and Stefano were planning on doing completely separate backpacking trips. Adam was supposed to go to South East Asia and Stefano was supposed to go to Europe. When the COVID-19 pandemic grinded all international travel to almost a complete halt, both of their original trips were cancelled. After months of waiting for things to settle down, Adam and Stefano saw that Europe was opening their borders to Canadians. They decided to hop on a plane with the hope that they could blend both of their trips together into one huge trip. The best of both worlds! </p>
            </div>
        </div>
    </div>


    <!-- YouTube Channel -->
    <hr>
    <div class="container-fluid padding">
        <div class="row text-center padding">

            <div class="col-12">
                <h2>Check Out the Channel!!</h2>
            </div>

            <div class="col-12 social padding">
                <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/honestclips"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>

{% endblock %}
