{% extends "main_site/layout.html" %}
{% load static %}

{% block title %}
    Honest Clips
{% endblock %}

{% block body %}
    <!-- Image Slider -->
    <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'main_site/imgs/fado.png' %}">
            </div>
            <div class="carousel-item">
                <img src="{% static 'main_site/imgs/amsterdam.png' %}">
            </div>
            <div class="carousel-item">
                <img src="{% static 'main_site/imgs/lagos.png' %}">
            </div>
        </div>

    </div>

{% endblock %}
